version: "3.8"

services:
  redis:
    image: redis:7
    networks:
      - backend

  api:
    image: inventory-api:1.0
    ports:
      - "5000:5000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    networks:
      - backend

networks:
  backend:
